{% set blocks = query.all %}

{% if blocks %}
    <div class="my-8 prose prose-lg prose-slate max-w-none hyphens-auto">
        {% for block in blocks %}
            <div>
                {% include "_blocks/#{block.type.handle|kebab}.twig" with {
                    blocks,
                    block
                } only  %}
            </div>
        {% endfor %}
    </div>
{% endif %}