{# Show current topic in its position in the hierarchy #}

{# @param entry Entry #}

<div class="flex items-center space-x-4 rtl:space-x-reverse">

    {% set parent = entry.parent %}
    {% set children = entry.children.all %}

    {% if parent or children %}
        {% if parent %}

            {# Show a button linking to parent #}
            {% include '_partials/entries-buttons.twig' with {
                entry: parent
            } only %}
            <div>
                &gt;
            </div>
        {% endif %}

        {# the current entry #}
        <div class="font-semibold text-xl">
            {{ entry.title }}
        </div>


        {% if children %}
            {# Show buttons linking to children #}
            {# TODO: check responsive layout?? #}
            <div>
                &gt;
            </div>
            {% include '_partials/entries-buttons.twig' with {
                entries: children
            } only %}
        {% endif %}
    {% endif %}
</div>