{% from '_macros/lib.twig' import img %}

<a href="{{ url }}" class="group block  border border-gray-300 bg-white hover:bg-brand-100 transition-colors shadow-md max-w-[400px]">
    {% if image %}
        <div class="overflow-hidden">
            {{ img(image, {
                transform: craft.app.config.custom.cardTransform,
                attr: {
                    class: 'group-hover:scale-105 transition'
                }
            }) }}
        </div>
    {% endif %}
    <div class="p-4">
        {% block content %}{% endblock %}
    </div>
</a>