{% from '_macros/lib.twig' import img %}

{% if image %}
    <div class="my-8">

        {# Do not lazy load #}
        {{ img(image, {
            transform: {width: 840, height: 300},
            attr: {loading: null, fetchpriority: 'high'}
        }) }}

    </div>
{% endif %}