{% for navEntry in navEntries %}
    {% set attr = craft.app.request.segment(1) == navEntry.slug ? {class: 'underline'} : {} %}
    {{ navEntry.link|attr(attr) }}
{% endfor %}

{% for localizedUrl in localizedUrls %}
    <a href="{{ localizedUrl.url }}">{{ localizedUrl.name }}</a>
{% endfor %}