# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# Database Configuration
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=
CRAFT_DB_USER=
CRAFT_DB_PASSWORD=
CRAFT_DB_SCHEMA=
CRAFT_DB_TABLE_PREFIX=

SYSTEM_NAME="Craft Tutorial"

MAILPIT_SMTP_HOSTNAME="127.0.0.1"
MAILPIT_SMTP_PORT="1025"

# MailHog is used by older versions of DDEV
MAILHOG_SMTP_HOSTNAME="127.0.0.1"
MAILHOG_SMTP_PORT="1025"