{% extends "_layouts/main.twig" %}

{% set title = 'Wide Layout' %}

{% block featured %}
    <div class="max-w-screen-md">
        {% if featuredImage %}
            {% include '_layouts/partials/featured-image.twig' with {
                image: featuredImage
            } only %}
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <body class="bg-sky-50 text-prose max-w-screen-xl mx-auto px-4">

    {{ block('header') }}

    {{ block('title') }}

    Example for overwriting the main layout. You can pull in individual blocks though. Which may or may not work properly.

    {{ block('footer') }}
    
    </body>
{% endblock %}
