{% from '_macros/lib.twig' import img %}

{% set image = block.image.one %}

{% if image %}
    <figure class="relative">

        {{ img(image, {
            transform: {width: 825, height: 450}
        }) }}


        {% if block.caption or image.copyright %}
            <figcaption class="flex justify-between">
                <div>
                    {{ block.caption }}
                </div>
                {% if image.copyright %}
                    <div class="text-sm text-gray-500">({{ 'Photo'|t }}: {{ image.copyright }})</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}