{% extends "_layouts/main.twig" %}

{% block content %}

    {% embed '_layouts/partials/box.twig' %}
        {% block content %}

            {% from '_macros/lib.twig' import img %}

            <section class="flex space-x-4 items-center">
                {% set image = entry.author.photo %}

                {% if image %}
                    {{ img(image, {
                        transform: {width: 40, height: 40},
                        attr: {class: 'rounded-full'}
                    }) }}
                {% endif %}

                <div>
                    {{ 'Published on {date} by {name}'|t({
                        date: entry.postDate|datetime('short'),
                        name: entry.author.name
                    }) }}
                </div>
            </section>

        {% endblock %}
    {% endembed %}


    {{ parent() }}

    {% include '_layouts/partials/entry-nav.twig' with {
        entry,
        condition: {section: 'post', orderBy: 'postDate desc'}
    } only %}


{% endblock %}